@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


$Soft-blue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);
$Very-dark-blue-main-BG: hsl(217, 54%, 11%);
$Very-dark-blue-card-BG: hsl(216, 50%, 16%);
$Very-dark-blue-line: hsl(215, 32%, 27%);
$White: hsl(0, 0%, 100%);


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body,
button,
textarea,
input {
   font-family: "Outfit", sans-serif;
}

body {
   display: grid;
   place-items: center;
   height: 100vh;
   background-color: $Very-dark-blue-main-BG;
}

.content {
   background-color: $Very-dark-blue-card-BG;
   width: 18.75rem;
   border-radius: 10px;
   color: hsla(215, 42%, 75%, 0.8);
   font-weight: 200;
   box-shadow: 0px 0px 35px 35px hsl(217, 55%, 8%);
}

.content__picture {
   position: relative;
}

.content__bg-color {
   position: absolute;
   left: 20px;
   top: 20px;
   width: 260px;
   height: 260px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color .5s ease-in-out;
   
   &:hover {
      background-color: hsla(178, 100%, 50%, .6);
      
      .content__icon-view {
         opacity: 1;
      }
   }
}

.content__cube-img {
   padding: 20px;
   border-radius: 25px;
   width: 100%;
}

.content__icon-view {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   cursor: pointer;
   transition: opacity .5s ease-in-out;
   opacity: 0;
   pointer-events: none;
}

.content__bg-color:hover + .content__icon-view,
.content__picture:hover .content__icon-view {
   opacity: 1;
}

.content__title {
   display: inline-block;
   margin: 0 0 20px 20px;
   font-size: 1.5rem;
   font-weight: 400;
   color: $White;
   transition: .3s ease-in-out;

   &:hover {
      color: $Cyan;
      transition: .3s ease-in-out;
      cursor: pointer;
   }
}

.content__description {
   padding: 0 5px 20px 20px;
   line-height: 1.6rem;
}

.content__info {
   display: flex;
   justify-content: space-between;
   padding: 0 20px 20px 20px;
}

.content__crypto-info {
   display: flex;
   gap: .5rem;
   align-content: center;
}

.content__value {
   color: $Cyan;
   font-size: 1rem;
   font-weight: 400;

}

.content__time {
   display: flex;
   align-items: center;
   gap: .5rem;
   font-weight: 400;
}

.content__line {
   margin: auto;
   width: 87%;
   margin-bottom: 20px;
   height: .1rem;
   background-color: hsla(215, 42%, 75%, .2);
   border: none;
}

.content__bio {
   display: flex;
   align-items: center;
   padding: 0 20px 20px 20px;
   gap: 1rem;
}

.content__image {
   width: 35px;
   border: 1px solid white;
   border-radius: 50%;
}

.content__p {
   font-size: 1rem;
}

.content__name {
   color: white;
   transition: .3s ease-in-out;

   &:hover {
      color: $Cyan;
      transition: .3s ease-in-out;
      cursor: pointer;
   }
}
